*{
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.home{
  width: 100%;
  height: 100vh;
}
.home h1{
    font-size:7rem;
}

.about{
  height:100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: tomato;
}

.contact{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
}

.project{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
}