
.home{
  width: 100%;
  height: 100vh;
  margin: 80px auto;
}
.home h1{
    font-size:7rem;
}

.about{
  height:100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: tomato;
}